/* @media (max-width:2560px) and (min-width:1441px) {}

@media (max-width:1440px) and (min-width:1201px) {}

@media (max-width:1200px) and (min-width:1025px) {}

@media (max-width:1024px) and (min-width:993px) {}

@media (max-width:992px) and (min-width:769px) {}

@media (max-width:768px) and (min-width:577px) {}

@media (max-width:576px) and (min-width:426px) {} */

@media (max-width:426px) and (min-width:375px) {
  .contact p {
    display: none;
  }

  .services-text h1 {
    font-size: 35px;
    text-align: center;
  }
}

@media (max-width:375px) and (min-width:321px) {

  .header {
    height: 150vh;
  }

  .contact p {
    display: none;
  }

  .carousel-inner p {
    text-align: center;
  }

  .carousel-inner h1 {
    text-align: center;
  }

  .carousel-inner button {
    margin-left: 25%;
    margin-right: auto;
  }

  .services-text {
    text-align: center;

  }

  .services-text h1 {
    font-size: 35px;
  }

  .services-text p {
    text-align: center;
  }

  .imges img {
    display: block;
  }

  .img-text {
    padding: 0;
    text-align: center;
    flex-direction: column;
  }

  .img-text .imges {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-text .imges img {
    width: 70px;
  }

  .about-section h1 {
    font-size: 35px;
  }

  .text-about {
    margin-bottom: 20px;
    text-align: center;
  }

  .text-about button {
    margin-bottom: 10%;
  }

  .img-about {
    width: 90%;
  }

  .section-track {
    width: 40%;
  }

  .section-track .img-bg {
    overflow: hidden;
  }
  .text-track {
    text-align: center;
  }
  .text-track h1 {
    font-size: 30px;
    text-align: center;
  }
  .text-track p {
    padding-right: 10px;
    text-align: center;
  }

  .input input {
    display: block;
    width: 95%;
  }

  .input button {
    margin-right: 62%;
    margin-top: 25px;
  }

  .text-client {
    text-align: center;
  }

  .client {
    margin-left: 25%;
  }

  .text-contact {
    text-align: center;
  }

  .maps {
    overflow: hidden;
  }

  footer {
    overflow: hidden;
  }

  footer h3 {
    font-size: 30px;
  }

  .location-footer {
    margin-left: 10px;
  }

  .social i {
    margin-left: 10px;
  }

  iframe {
    overflow: hidden;
  }
}

@media (max-width:321px) and (min-width: 315px){

  .header {
    height: 150vh;
  }

  .contact p {
    display: none;
  }

  .carousel-inner p {
    text-align: center;
  }

  .carousel-inner h1 {
    text-align: center;
  }

  .carousel-inner button {
    margin-left: 25%;
    margin-right: auto;
  }

  .services-text {
    text-align: center;

  }

  .services-text h1 {
    font-size: 35px;
  }

  .services-text p {
    text-align: center;
  }

  .imges img {
    display: block;
  }

  .img-text {
    padding: 0;
    text-align: center;
    flex-direction: column;
  }

  .img-text .imges {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-text .imges img {
    width: 70px;
  }

  .about-section h1 {
    font-size: 35px;
  }

  .text-about {
    margin-bottom: 20px;
    text-align: center;
  }

  .text-about button {
    margin-bottom: 10%;
  }

  .img-about {
    width: 80%;
  }

  .section-track {
    width: 40%;
  }

  .section-track .img-bg {
    overflow: hidden;
  }
  .text-track {
    text-align: center;
  }
  .text-track h1 {
    font-size: 27px;
    text-align: center;
  }
  .text-track p {
    text-align: center;
  }

  .input input {
    display: block;
    width: 100%;
  }

  .input button {
    margin-right: 62%;
    margin-top: 10px;
  }

  .text-client h1{
    text-align: center;
  }

  .client {
    margin-left: 25%;
  }
.swiper-pagination{
  display: none;
}
  .text-contact {
    text-align: center;
  }

  .maps {
    overflow: hidden;
  }

  footer {
    overflow: hidden;
  }

  footer h3 {
    font-size: 30px;
  }

  .location-footer {
    margin-left: 10px;
  }

  .social i {
    margin-left: 10px;
  }

  iframe {
    overflow: hidden;
  }
}
